<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>CV Reviewer</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/nav_bar_simple.css">
    <link rel="stylesheet" href="/static/css/post_already_exists.css">
</head>
<body>
    {% include "nav_bar_simple.html" %}
    
    <div class="exists-container">
        <h1 class="exists-title">Your post already exists!</h1>
        <a class="exists-link" href="{{ url_for('posts.get_specific_post', post_id=current_user.id) }}">Take me there →</a>
    </div>
</body>
</html>