/* Flask info flash */
.info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: fixed;
    width: 383px;
    height: 53px;
    left: calc(50% - 383px/2 - 0.5px);
    top: calc(50% - 53px/2 + 335.5px);

    background: linear-gradient(-45deg, #ffb800, #ff9900, #e7b324);;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    border-radius: 16px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.msg-ico {
    position: static;
    width: 32px;
    height: 32px;

    margin-right: 10px;
    order: 0;
}

.info-msg {
    position: static;
    width: 321px;
    height: 33px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    text-align: center;

    color: #FFFFFF;

    order: 1;
}